<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snakes & Ladder - Javascript Game</title>
    <link rel="stylesheet" href="../css/styles.css"> 
</head>
<body>
    <div id='main'>
        <!-- -----------Divisions for player Tokens -->
        <div class="players" id='red'></div>
        <div class="players" id='blue'></div>
        <img src='../assets/ladder.png' id='l1'>
        <img src='../assets/ladder.png' id='l2'>
        <img src='../assets/ladder.png' id='l3'>
        <img src='../assets/ladder.png' id='l4'>
        <img src='../assets/ladder.png' id='l5'>
        <img src='../assets/ladder.png' id='l6'>
        <img src='../assets/ladder.png' id='l7'>
        <img src='../assets/ladder.png' id='l8'>
        <img src='../assets/ladder2.png' id='l9'>
        <img src='../assets/ladder2.png' id='l10'>
        <img src='../assets/s1.png' id='s1'>
        <img src='../assets/s2.png' id='s2'>
        <img src='../assets/s3.png' id='s3'>
        <img src='../assets/s4.png' id='s4'>
        <img src='../assets/s5.png' id='s5'>
        <img src='../assets/s6.svg' id='s6'>
        <img src='../assets/s7.png' id='s7'>
        <img src='../assets/s8.png' id='s8'>
        <!-- Boxes------------------ -->
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
        <div class='box'></div>
    </div>
    <div id ='side'>
        <p id = 'p_turn'>Red Player's Turn</p>
        <div id='cube_outer'>
            <div class="cube_inner" id='cube_inner' >
                <div id='front'> <img src="../assets/1.png"></div>
                <div id='back'> <img src="../assets/2.png"></div>
                <div id='left'> <img src="../assets/3.png"></div>
                <div id='right'> <img src="../assets/4.png"></div>
                <div id='top'> <img src="../assets/5.png"></div>
                <div id='bottom'> <img src="../assets/6.png"></div>
            </div>
        </div>
    </div>
    <script src="../scripts/scripts.js"></script>
</body>
</html>